<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>5e Challenge Calculator: Parties</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/jquery/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" href="/jquery/jquery-ui-1.12.1.custom/jquery-ui.theme.css">

    <script src="/jquery/jquery-3.4.1.js"></script>
    <script src="/jquery/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#party").selectmenu({
                select: function (event, ui) {
                    // window.location='/parties/' + ui.item.value + "/"
                }
            });
            $("#encounter").selectmenu({
                select: function (event, ui) {
                    // window.location='/parties/' + ui.item.value + "/"
                }
            });
        });
    </script>
</head>

<body>
    <form action="#" th:action="@{/challenge}" th:object="${challengeModel}" method="post">
        <div style="float: left">
            <select th:field="*{party}">
                <option value=""></option>
                <option th:each="party: ${parties}" th:text="${party.name}" th:value="${party.id}">Item 1</option>
            </select>
        </div>

        <div style="float: left">
            <select th:field="*{encounter}">
                <option value=""></option>
                <option th:each="encounter: ${encounters}" th:text="${encounter.name}" th:value="${encounter.id}">Item 1
                </option>
            </select>
        </div>
    </form>
</body>

</html>