<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>5e Challenge Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/jquery/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" href="/jquery/jquery-ui-1.12.1.custom/jquery-ui.theme.css">

    <script src="/jquery/jquery-3.4.1.js"></script>
    <script src="/jquery/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
</head>

<body>
    <table th:if="${foeEncounter} != null"  th:fragment="foesTable">
        <thead class="ui-widget-header">
            <th>Foe</th>
            <th>Quantity</th>
            <th>XP (Each)</th>
        </thead>
        <tbody class="ui-widget-content">
            <tr th:each="foe: ${foeEncounter}">
                <td th:text="${foe.name}"></td>
                <td th:text="${foe.count}" class="number"></td>
                <td th:text="${#numbers.formatInteger(foe.xp,1,'COMMA')}" class="number"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>