<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>5e Challenge Calculator: Foes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table>
        <tbody>
            <tr th:each="foe: ${foes}">
                <td th:text="${foe.id}"></td>
                <td th:text="${foe.name}"></td>
                <td th:text="${#numbers.formatInteger(foe.xp,1,'COMMA')}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>