<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>5e Challenge Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/jquery/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" href="/jquery/jquery-ui-1.12.1.custom/jquery-ui.theme.css">

    <style>
        table {
            width: 100%;
        }
        td {
            padding: 5px;
        }
        th {
            padding: 3px;
        }
        .number {
            text-align: right;
        }
        .challenge_message {
            width: 250px; 
            height: 250px; 
            text-align: center; 
            line-height: 250px; 
            border: 1px black solid; 
            background-color: gray;            
        }
    </style>

    <script src="/jquery/jquery-3.4.1.js"></script>
    <script src="/jquery/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

    <script>
        function update_challenge() {
            //$("#challenge_result").html("hello");
            partyId = $("#party option:checked").val();
            encounterId = $("#encounter option:checked").val();

            if (partyId != "" && encounterId != "") {
                $.ajax({
                    url: "/parties/" + partyId + "/encounters/" + encounterId + "/",
                    cache: false
                })
                    .done(function (html) {
                        $("#challenge_result").html(html);
                    });
            }
        }
        function update_on_selected(selected, service, target, message) {
            if (selected != "") {
                $.ajax({
                    url: "/" + service + "/" + selected + "/",
                    cache: false
                })
                    .done(function (html) {
                        $(target).html(html);
                    });
                update_challenge();
            } else {
                $(target).html(message);
                $("#challenge_result").html("");
            }
        }
        $(document).ready(function () {
            $("#party").selectmenu({
                select: function (event, ui) {
                    update_on_selected(ui.item.value, "parties", "#player_table", "Select a party");
                }
            });
            $("#encounter").selectmenu({
                select: function (event, ui) {
                    update_on_selected(ui.item.value, "encounters", "#foe_table", "Select an encounter");
                }
            });
        });
    </script>
</head>

<body class="ui-widget">
    <form action="#" th:action="@{/}" th:object="${indexModel}" method="post">
        <div style="float: left">
            <select th:field="*{party}">
                <option value=""></option>
                <option th:each="party: ${parties}" th:text="${party.name}" th:value="${party.id}">Item 1</option>
            </select>
            <div id="player_table">Select a party</div>
        </div>

        <div style="float: left">
            <select th:field="*{encounter}">
                <option value=""></option>
                <option th:each="encounter: ${encounters}" th:text="${encounter.name}" th:value="${encounter.id}">Item 1
                </option>
            </select>
            <div id="foe_table">Select an encounter</div>
        </div>

        <div style="float: left" class="challenge_message">
            <div id="challenge_result"></div>
        </div>
    </form>
</body>

</html>